/** @format */

* {
  margin: 0;
}
.navbar {
  height: 80px;
  background-color: #0079c2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
}
.navbar_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-menu {
  display: flex;
  text-align: center;
  list-style: none;
}
.navbar-item {
    cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.background {
  margin-top: 20px;
  margin-left: 7rem;
}
